1. What are data structures, and why are they important?

Ans.
Data structure is a way to organize data in a proper manner so it can be accessed and manipulated later to do work or task.

    Importance:
efficiency, scalibility, data organization, etc.

2.  Explain the difference between mutable and immutable data types with examples?

Ans.
Mutable data types can be changed after creating but the immutable data types can not be changed after creation.
Example:
        mutable- lists,sets, etc
        immutable- tuple,strings, etc

3. What are the main differences between lists and tuples in Python?

Ans:
The main difference is mutability. The list is mutable and tuple are immutable. list use more memory but tuple uses less memory.


4. Describe how dictionaries store data?

Ans:
Dictionary store data in the form of hash and keys so can easily accessable and locate.

example:
    my_dict = {"name": "Alice", "age": 25, "city": "Sydney"}

5. Why might you use a set instead of a list in Python?

Ans:
Because in sets it takes only unique values and take less storage as compare to list.

6. What is a string in Python, and how is it different from a list?

Ans:
Strings are a sequence of character enclosed in '' , "", ''' ''' coated. strings are immutable weather lists are immutable.


7. How do tuples ensure data integrity in Python?

Ans:
Because tuples are immutable once after creation it can not be changed which ensures its integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans:
It is a data structure which stores the key values so it can be easily accessable.

9. Can lists contain different data types in Python?

Ans:
yes, lists can contains any value either its string, integer, float character,etc.

10. Explain why strings are immutable in Python?

Ans:
To improve efficiency, less memory.
And in the real world we need something in our daily life which we don't want to change. like name,ids etc.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans:less memory, easy maniputable due to key values, store data in key pairs, etc.

12. Describe a scenario where using a tuple would be preferable over a list?

Ans:
Imagine you are working on a program that requires a set of configuration settings, such as resolution and frame rate for a video processing application. These settings are fixed once the application starts and should not change throughout the program’s execution.
In this case, using a tuple would be preferable over a list

13. How do sets handle duplicate values in Python?

Ans:
Sets store only unique characters if we try to duplicate something in set it would be totally ignored.

ex:
s={1,2,3,2,1}
print(s)
output= {1,2,3}


14. How does the “in” keyword work differently for lists and dictionaries?

Ans:
In checks the value present in the list and return boolean but in dictionary it checks the keys not the values.

15. Can you modify the elements of a tuple? Explain why or why not?

Ans:
No, we can not modify tuples because they are immutable.
it can not be modified because of memory efficiency, safety and integrity.

16.  What is a nested dictionary, and give an example of its use case?

Ans:
Nested dictionary is a dictionary in which the values of keys are also dictionary.

example:
students = {
    "Alice": {
        "age": 21,
        "major": "Computer Science",
        "grades": {"math": 85, "english": 90, "history": 88}
    }
}


18. In what situations are lists preferred over dictionaries?

Ans:
situations like when you need to make grocery list for market at an instance you need to edit it so easily accessable and can be edited and when you need to call the character according to sequence its very helpful.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans:
Because data stored in dictionaries their key values are unordered not in a proper sequence.
it affect data retrieval because of time complexity decreases.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

Ans:
In list it slower the time because we need to check the whole list for one character but in dictionary it can come up by key value easily.

Coding Questions

1. Write a code to create a string with your name and print it.

In [1]:
name= "Abhishek"
print(name)

Abhishek

2. Write a code to find the length of the string "Hello World".

In [2]:
st= "Hello World"
print(len(st))

11

3. Write a code to slice the first 3 characters from the string "Python Programming.

In [ ]:
st= "Python Programming"
print(st[0:3])

4. Write a code to convert the string "hello" to uppercase.

In [3]:
st= "hello"
print(st.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
st= "I like apple"
print(st.replace("apple","orange"))

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
number=[]
for i in range(1,6):
  number.append(i)
print(number)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [10]:
list= [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [11]:
ls= [1,2,3,4,5]
ls.remove(3)
print(ls)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [13]:
ls= ['a', 'b', 'c', 'd']
print(ls[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [14]:
ls=[10, 20, 30, 40, 50]
ls.reverse()
print(ls)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [15]:
t= (100,200,300)
print(t)

<class 'tuple'>

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [16]:
t=('red', 'green', 'blue', 'yellow')
print(t[1:4])

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [18]:
t=(10, 20, 5, 15)
for i in t:
  minimum=min(t)
print(minimum)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [21]:
t=('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [28]:
fruits = ('apple', 'banana', 'orange')

if 'kiwi' in fruits:
  print("Kiwi is in the tuple.")

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s={'a','b','c'}
print(s)

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [29]:
s={1,2,3,4,5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [30]:
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [31]:
s1={1,2,3}
s2={3,4,5}
union=s1.union(s2)
print(union)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [32]:
s1={1,2,3}
s2={2,3,4}
intersection=s1.intersection(s2)
print(intersection)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
dict={name:"Abhishek",age:22,city:"Syd"}
print(dict)

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [36]:
dict={'name': 'John', 'age': 25}
dict.update({'country':'USA'})
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict={'name': 'Alice', 'age': 30}
name=dict['name']
print(name)

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop('age')
print(dict)

25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [37]:
dict={'name': 'Alice', 'city': 'Paris'}
if 'city' in dict:
  print("City exists in the dictionary.")

City exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [38]:
list=[1,2,3,4]
tuple=(1,2,3,4)
dict={'name':'Abhishek','age':22}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Abhishek', 'age': 22}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [40]:
list=[34,76,31,65,74,12,1,2,4]
list.sort()
print(list)

[1, 2, 4, 12, 31, 34, 65, 74, 76]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
list=[34,76,31,65,74,12,1,2,4]
print(list[3])

29. Write a code to combine two dictionaries into one and print the result.

In [42]:
list1=[34,76,31,65,74,12,1,2,4]
list2=[1,2,3,4]
list1.extend(list2)
print(list1)

[34, 76, 31, 65, 74, 12, 1, 2, 4, 1, 2, 3, 4]

30. Write a code to convert a list of strings into a set

In [ ]:
ls=['apple','banana','orange']
s=set(ls)
print(s)